@import url('https://fonts.googleapis.com/css?family=Sue+Ellen+Francisco');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-sue-ellen {
  font-family: 'Sue Ellen Francisco', cursive;
}

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
}